@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700i);
body {
  color: #34495e;
  background: #f5f5f5;
  font-weight: 400;
  font-size: 1.5em;
  overflow-x: hidden;
}


.subjects{
min-height:auto !important;
max-height:600% !important;
}
.subjects1{
min-height:auto !important;
max-height:500% !important;
}

/*common*/



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: #3399ff;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  font-size: 1.01em;
}

a:hover,
a:focus {
  color: #d9534f;
  text-decoration: none;
  outline: none;
}

.btn-link {
  color: #3399ff;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  font-size: 1.01em;
}

.btn-link:hover,
.btn-link:focus {
  color: #d9534f;
  text-decoration: none;
  outline: none;
}

/*common*/

/*lato*/

.lato p {
  text-align: justify;
  color: #2e3c40;
  font-weight: 400;
  font-size: 1.05em;
  line-height: 2.375rem;
  margin-bottom: 2.5rem;
  font-family: 'Lato';
}

.lato h4 h3 {
  font-family: 'Lato';
  font-size: 1.5em;
}

/*lato*/

/*for navigation */

.navbar-default {
  background-color: #34495e;
  border-color: #34495e;
  min-height: 60px;
}

.navbar-default .navbar-brand {
  color: #fff !important;
}

.navbar-nav li>a {
  color: #ffffff !important;
  padding-top: 20px;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .navbar-header a {
    font-size: 12px;
  }
  .navbar-header {
    padding-top: 5px;
  }
  .navbar-header img {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 600px) {
  .navbar-header a {
    font-size: 12px;
  }
  .navbar-header img {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-header a {
    font-size: 14px;
  }
  .navbar-header img {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-header a {
    font-size: 24px;
  }
  .navbar-header img {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-header a {
    font-size: 32px;
  }
  .navbar-header img {
    width: 32px;
    height: 32px;
  }
}

/*for navigation*/

/*====== for jumbotron ========*/

#well {
  /*background:linear-gradient(90deg,#70d467 0,#6fbbfa);*/
  padding: 0px !important;
  border-bottom: 2px solid #34495e;
}

/*======= for jumbotron ======*/

.boldh3 {
  font-weight: 700;
}

/* color bullet in Benefit of becoming a Web Technologist?*/

.color_bullet {
  list-style: none;
  padding: 0;
  margin: 0;
}

.color_bullet li {
  padding-left: 30px;
  text-indent: -1.1em;
  padding-bottom: 1em;
}

.color_bullet li:before {
  content: "■";
  color: #34495e;
  /* or whatever color you prefer */
}

/*====== for margin between sections ===*/

/*.section-margin{
	margin-bottom: 50px;
}*/

/*====== for margin between sections ===*/

/*====== for tabs ====*/

.navTabs>li>a {
  background-color: #333333;
  border-color: #777777;
  color: #ffffff;
}

.navTabs>li>a:hover {
  border-color: #000000;
  background-color: #111111;
}

.navTabs>li.active>a,
.navTabs>li.active>a:focus,
.navTabs>li.active>a:hover {
  color: #fff;
  background-color: #337ab7;
}

/*====== for tabs ====*/

/*==== inside dynamic tabs red wells ===*/

.well-red {
  color: white;
  background-color: #e74c3c;
}

.tab-content {
  border: 1px solid grey;
}

/*-----------*/

.inlineBlock span {
  display: inline-block;
}

/*=== inside dynamic tabs =====*/

/*==time table */

/*style for table container*/

.table-container th {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  color: white;
}

.table-container td {
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.table-container {
  text-align: left;
  overflow: auto;
  width: 70%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.table-container td,
.table-container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */

.table-container tr:nth-child(odd) {
  background-color: #0099C2;
}

/* Background-color of the even rows */

.table-container tr:nth-child(even) {
  background-color: #8FB8FF;
}

.table-container th {
  background-color: #1F2739;
}

tr>.boldTd {
  color: black;
  font-weight: 700;
  font-size: 16px;
}

tr>.contentTd {
  font-weight: 700;
  font-size: 16px;
}

.table-container tr:hover {
  background-color: #009987;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

@media (max-width:400px) {
  .table-container {
    width: auto;
  }
}

/*style for table*/

/*time table */

/*download section*/

/*	/*display:inline-block;*/

/*margin-bottom: 10px;*/

/*	#downloadTable th {
	padding-left:35px;
}*/

#downloadTable th {
  padding-left: 30px;
  padding-right: 30px;
}

/*download section*/

/*-----footer -------------*/

/* for the footer of all page should have img folder*/

#bottom {
  background-color: #2d2d2d;
  color: white;
}

#bottom li a {
  font-size: 12px;
}

#bottom li {
  padding-top: 12px;
  list-style-type: none;
}

/*.social-links { margin-top: 45px; }*/

.social-links {
  margin: 40px 50px 0 50px;
  border-top: 1px dotted #4d4d4d;
  text-align: center;
}

.social-links a {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 5px;
}

.social-links a.twitter {
  background: url(../social-icons/twitter-gray.png);
}

.social-links a.flickr {
  background: url(../social-icons/flickr-gray.png);
}

.social-links a.vimeo {
  background: url(../social-icons/vimeo-gray.png);
}

.social-links a.linkedin {
  background: url(../social-icons/linkedin-gray.png);
}

.social-links a.facebook {
  background: url(../social-icons/facebook-gray.png);
}

.social-links a.paypal {
  background: url(../social-icons/paypal-gray.png);
}

.social-links a.email {
  background: url(../social-icons/email-gray.png);
}

.social-links a.yahoo {
  background: url(../social-icons/yahoo-gray.png);
}

.social-links a.github {
  background: url(../social-icons/github-gray.png);
}

.social-links a.googleplus {
  background: url(../social-icons/googleplus-gray.png);
}

.social-links a.apple {
  background: url(../social-icons/apple-gray.png);
}

.social-links a.myspace {
  background: url(../social-icons/myspace-gray.png);
}

.social-links a.youtube {
  background: url(../social-icons/youtube-gray.png);
}

.social-links a.skype {
  background: url(../social-icons/skype-gray.png);
}

.social-links a.tumblr {
  background: url(../social-icons/tumblr-gray.png);
}

.social-links a.google {
  background: url(../social-icons/google-gray.png);
}

.social-links a.twitter:hover {
  background: url(../social-icons/twitter.png);
}

.social-links a.flickr:hover {
  background: url(../social-icons/flickr.png);
}

.social-links a.vimeo:hover {
  background: url(../social-icons/vimeo.png);
}

.social-links a.linkedin:hover {
  background: url(../social-icons/linkedin.png);
}

.social-links a.facebook:hover {
  background: url(../social-icons/facebook.png);
}

.social-links a.paypal:hover {
  background: url(../social-icons/paypal.png);
}

.social-links a.email:hover {
  background: url(../social-icons/email.png);
}

.social-links a.yahoo:hover {
  background: url(../social-icons/yahoo.png);
}

.social-links a.github:hover {
  background: url(../social-icons/github.png);
}

.social-links a.googleplus:hover {
  background: url(../social-icons/googleplus.png);
}

.social-links a.apple:hover {
  background: url(../social-icons/apple.png);
}

.social-links a.youtube:hover {
  background: url(../social-icons/youtube.png);
}

.social-links a.skype:hover {
  background: url(../social-icons/skype.png);
}

.social-links a.tumblr:hover {
  background: url(../social-icons/tumblr.png);
}

.social-links a.aim:hover {
  background: url(../social-icons/aim.png);
}

.social-links a.google:hover {
  background: url(../social-icons/google.png);
}

#footer a {
  color: white;
  text-decoration: none;
}

.one a {
  margin-right: 30px;
  margin-bottom: 20px;
}

.two a {
  margin-right: 15px;
  margin-bottom: 20px;
}

/*For the footer of all page*/

@media only screen and (max-width: 768px) {
  #well {
    padding-top: 10%;
    color: white;
    background-color: #00bcd4;
  }
  #well h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 992px) {
  #well {
    color: white;
    background-color: #00bcd4;
  }
  #well h1 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  #well {
    color: white;
    background-color: #00bcd4;
  }
  .well h1 {
    font-size: 65px;
  }
}

/* Main Body Content Styling */

@media only screen and (max-width: 768px) {
  .subjects {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px silver; */
    padding: 10px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .subjects .sub_title {
    font-size: 16px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2.88%;
    margin-right: -2.88%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects .sub_title_ad1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2.88%;
    margin-right: -2.88%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects .sub_title_ad2 {
    font-size: 12px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2.88%;
    margin-right: -2.88%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
}

@media only screen and (max-width: 320px) {
  .subjects {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px silver; */
    padding: 10px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .subjects .sub_title {
    font-size: 16px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -4.0%;
    margin-right: -4.0%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects .sub_title_ad1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -4.0%;
    margin-right: -4.0%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects .sub_title_ad2 {
    font-size: 12px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -4.0%;
    margin-right: -4.0%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .subjects {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px silver; */
    padding: 10px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .subjects .sub_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2.6%;
    margin-right: -2.6%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects .sub_title_ad1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2.6%;
    margin-right: -2.6%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects .sub_title_ad2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2.6%;
    margin-right: -2.6%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .subjects {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px silver; */
    padding: 10px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
    max-height: 350px;
    min-height: 350px;
    box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
  }
  .subjects .sub_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2%;
    margin-right: -2.2%;
    /*30 */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects .sub_title_ad1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2%;
    margin-right: -2.2%;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    width: auto;
  }
  .subjects .sub_title_ad2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -2%;
    margin-right: -2.2%;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    width: auto;
  }
}



.panel {
  box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}

.panel-body {
  margin-top: -20px;
}

#editProfleModal .modal-header {
  background-color: #34495e;
  color: #ffffff;
}

#editProfleModal .btn-edit {
  background-color: #2ecc71;
  color: #fff;
  border-color: #2ecc71;
  box-shadow: 0px 0px 10px silver;
}

#editProfleModal .close {
  color: #fff;
  opacity: 1;
}

.profile-pic {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .5);
}

.profile-pic:hover {
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.0em;
  font-size: 12px;
}

.subjects .panel-body p {
  text-align: justify;
}

.resume-heading{
  text-align: center;
}
.rahul-info li{
  margin-left: 15px !important;
}
.solutions li{
  margin-left: 15px !important;
}
.problems li{
  margin-left: 15px !important;
}

.rahul-info strong{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#007508;
  font-weight: 800 !important; 
}
.solutions strong{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#007508;
  font-weight: 800 !important; 
}





@media only screen and (max-width: 768px) {
  .subjects1 {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px silver;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:-20px;
    margin-right:-20px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .subjects1 .sub_title {
    font-size: 16px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2.88%; */
    /* margin-right: -2.88%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects1 .sub_title_ad1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2.88%;
    margin-right: -2.88%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects1 .sub_title_ad2 {
    font-size: 12px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2.88%;
    margin-right: -2.88%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
}

@media only screen and (max-width: 320px) {
  .subjects1 {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px silver; */
    /* padding: 30px !important; */
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .subjects1 .sub_title {
    font-size: 16px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -4.0%;
    margin-right: -4.0%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects1 .sub_title_ad1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -4.0%;
    margin-right: -4.0%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects1 .sub_title_ad2 {
    font-size: 12px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -4.0%;
    margin-right: -4.0%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .subjects1 {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px silver; */
    /* padding: 30px !important; */
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .subjects1 .sub_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2.6%;
    margin-right: -2.6%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects1 .sub_title_ad1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2.6%;
    margin-right: -2.6%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects1 .sub_title_ad2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2.6%;
    margin-right: -2.6%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .subjects1 {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px silver; */
    /* padding: 30px !important; */
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 4px;
    max-height: 350px;
    min-height: 350px;
    box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
  }
  .subjects1 .sub_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2%;
    margin-right: -2.2%; */
    /*30 */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.96px;
    padding-right: 7.96px;
    width: auto;
  }
  .subjects1 .sub_title_ad1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2%;
    margin-right: -2.2%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    width: auto;
  }
  .subjects1 .sub_title_ad2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: -30px;
    /* margin-left: -2%;
    margin-right: -2.2%; */
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    width: auto;
  }
}

.subjects1 .label .label-primary .cd-timeline__date {
  display: inline-block;
}

.subjects1 .label, .label-primary{
  background: #55aef7 !important;
  color: white;
  border-radius: 0.25em;
  margin-left: 6px;
  padding: 1em 2em 1em 2em;
  color: white;
  border-radius: 0.25em;
  height: 40px;
  font-size: 13px;
}

.subjects1 .label-primary:hover{
  background-color: #0163b3 !important;
  color: white;
  border-radius: 0.25em;
  margin-left: 6px;
  padding: 1em 2em 1em 2em;
  color: white;
  border-radius: 0.25em;
  height: 40px;
}

#namo ul{
  margin-bottom: 92px;
}
#div-block strong{
  position: absolute;
  margin-top: -50px !important;
}
#div-block ul{
  position: absolute;
  margin-top: -26px !important;
}

.subjects ul{
  margin-right: 3px !important;
}

.pseudo-ul {
  list-style: none;
  margin-left: -16px;
  margin-top:3px;
}

.pseudo-ul li:before {
  
  content: '✓';
  font-weight: bold;
}